#eventShow .columns.is-centered {
  display:flex;
  flex-direction:column;
  align-items:center;
}

/* #eventShow p.title.is-4:hover {
  transition:color 250ms ease;
  color:pink;
} */

#regInfo .button.is-link {
  margin-top:10px;
  background-color: rgb(32, 156, 238);
}


@media (max-width:768px){
  .blueboxes-desktop {
    display:none;
  }
}

@media (min-width:768px){
  .columns.blueboxes-mobile {
    display:none;
  }

  .blueboxes-desktop {
    display:flex;
    align-content: center;
  }

  .blueboxes-desktop .darkerBox, .blueboxes-desktop .lighterBox {
    width:25%;
    text-align: center;
    margin:5px 3px;
  }
}

.darkerBox {
  background-color: rgba(50, 115, 220, 0.74);
  color: white;
}

.lighterBox {
  background-color: rgba(32, 156, 238, 0.12);
  color:black;
}


#regInfo .column.is-half-mobile{
    width: 45%;
    margin-left: 10px;
    margin-bottom: 10px;
}



.animate-opacity{
  animation:opac 1.2s
}

@keyframes 
  opac{from{opacity:0} to{opacity:1}}


#eventShow .location, #eventIndex .location {
  align-self: normal;
  margin-bottom: 20px;
  margin-top:20px;
}

#eventShow .column.is-4 {
  order:-1
}

@media screen and (max-width: 768px) {
  #eventShow .column.is-two-thirds-mobile {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 100%;
  }
}

/* modal form */

p.modal-card-title {
  font-size: 23px;
}

footer.modal-card-foot {
  padding:10px;
  padding-left:1.25em;
}

@media (min-width:769px){
  #eventShow .columns.is-centered{
    flex-direction:row;
    align-items:normal;    
  }
  #eventShow .columns div.column.is-4.is-two-thirds-mobile.cardRight {
    order:-1
  } 

  #eventShow .location {
    margin-top:10px;
  }
}

/* global styles */

#top-event-info {
  border: 1px solid grey;
}

.push-right {
  float: right;
}

