#myHeader {
    margin-top:5px;
}

#myHeader .brand {
    display:inline-block;
    position: relative;
    top: -10px;
    
}

a.navbar-item {
    font-size:16px;
    position:relative;
}

#myHeader i.fas {
    display:none;
}

@media (max-width:500px){
    .pullup-animation {
        opacity: 0;
        -moz-transition: all 300ms ease-in;
        -webkit-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
        -moz-transform: translate3d(0px, -50px, 0px);
        -webkit-transform: translate3d(0px, -50px, 0px);
        -o-transform: translate(0px, -50px);
        -ms-transform: translate(0px, -50px);
        transform: translate3d(0px, -50px, 0px);
    }

    #myHeader i.fas {
        display:initial;
        /* color: #209cee; */
        color: #5c6280;
        position: absolute;
        left: 27%;
        top: 32%;
    }
}

#myHeader a.navbar-item, #myHeader div.navbar-item {
    font-weight:500;
    color: #01178B;
}

@media (min-width:1000px){
    #myHeader a.navbar-item, #myHeader div.navbar-item {
        font-weight:600;

    }
}

#myHeader {
    position: relative;
  }

  
#myHeader:before, #myHeader:after {
content: "";
position: absolute;
bottom: -3px;
left: -3px;
}

#myHeader:after {
right: -3px;
height: 3px;
background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#0048BA), to(transparent));
background-image: -webkit-linear-gradient(left, #0048BA, transparent);
background-image: -moz-linear-gradient(left, #0048BA, transparent);
background-image: -o-linear-gradient(left, #0048BA, transparent);
}

@media (max-width:500px){

    .navbar-link{
        display:none;
        height:50px
    }

    #myHeader .brand {
        top: -15px;        
    }

    #myHeader .brand p {
        font-size:1rem;
    }

    #myHeader div.navbar-burger.burger {
        display: inline-block;
    }

    #myHeader a.navbar-item, #myHeader div.navbar-item {
        text-align: center;
        display:block;
        padding:0;
        border-bottom-width: 0.2px;
        border-bottom-color: #00000021 !important;
        border-bottom-style: solid;
        padding-bottom: 10px;
        padding-top: 10px;
        width:100%;
    }

    #myHeader #navMenuColorwhite-example div div {
        margin-top: -8px;
    }

    #myHeader div.navbar-end {
        text-align: center;
        display:block;
    }
}


#myHeader p.title.is-4 {
    font-family: 'Open Sans', sans-serif;
    font-size:19.5px;
    color:#01178B;
    position:absolute;
    left: 85px;
    top:20px;
}

#myHeader .logoGlobe {
    margin-left:15px;
    height: 60px;
}

/* took out hover to fix iphone double click issue!!*/
#myHeader .navbar-item {
    display:inline-block;
    z-index:99;  
}

.navbar-menu {
    padding:0;
}

.navbar-burger:hover {
    background-color: rgba(248, 248, 248, 0.05);
}

.navbar-menu .is-active {
    z-index:999;
}

nav.breadcrumb.has-succeeds-separator {
    padding-left:5%;
    position:relative;
    top:3px;
  }