#profile p.title.is-6{
    margin-bottom: 0.5rem;
}

#profile div.buttons.is-centered a{
    text-decoration: none;
}

#profile div.tile.is-child.notification.is-danger{
    padding: 0.25rem;
}

#profile td {
    font-size: 12px
}

#profile td span {
    font-size: 15px
}

#profile td.table-row-info:hover {
    background-color:rgba(255, 56, 96, 0.07);
    cursor:pointer
}

#profile a {
    text-decoration: none;
    font-size: 15px
}

#profile a.button.is-danger.is-inverted {
    cursor:'pointer'
}
#profile a.button.is-danger.is-inverted:hover {
    text-decoration: underline
}